* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    ;
}

html,
body {
    height: 100%;
    background-color: rgb(225, 225, 225);
}
body{
    overflow-x: hidden;
}
/*Página de Login*/
.box-login {
    box-shadow: 10px 10px 5px rgb(200, 200, 200);
    max-width: 600px;
    width: 95%;
    padding: 60px 2%;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.box-login h2 {
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 10px 0;
    color: black;
}

.box-login input[type=text],
.box-login input[type=password] {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
    margin-top: 8px;
}

.box-login input[type=submit] {
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-top: 8px;
    font-size: 14px;
    background-color: #00bfa5;
    color: white;
    border: 0;
}

/*Box erro do Painel*/
.erro-box {
    width: 100%;
    padding: 8px 2%;
    text-align: center;
    background-color: #f75353;
    color: white;
    font-size: 15px;
}
/*Fim página login*/
/*Painel de Controle*/
.clear{
    clear: both;
}
.center{
    padding: 0 2%;
    margin: 0 auto;
}


header{
    position: relative;
    left: 300px;
    padding: 10px 0;
    background-color: #78909c;
    width: calc(100% - 300px);
}
.loggout{
    float: right;
}
.loggout a{
    padding: 0 20px;
    position: relative;
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.loggout a > span{
    font-size: 17px;
    text-decoration: none;
}
.menu-btn{
    float: left;
    font-size: 23px;
    color: white;
    cursor: pointer;
}
.menu-wraper{
    width: 300px;
}
div.menu{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #455a64;
    float: left;
    width: 300px;
}
.box-usuario{
    text-align: center;
}
.avatar-usuario{
    text-align: left;
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #2f3d42;
}
.avatar-usuario i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: 50px;
    color: #2f3d42;
}
.imagem-usuario{
    display: inline-block;
    width: 130px;
    height: 130px;
    position: relative;
    border: 3px solid #2f3d42;
    border-radius: 50%;
}
.imagem-usuario img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.nome-usuario{
    text-align: center;
    margin-top: 10px;
}
.nome-usuario p{
    color: white;
    font-size: 15px;
    font-weight: normal;
}
/*Conteúdo principal do painel*/
.w100{
    width: 100%;
}
.w50{
    width: 49%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.content{
    width: calc(100% - 300px);
    position: relative;
    left: 300px;
    padding: 10px;
}
.box-content{
    background: white;
    padding: 10px;
    margin-bottom: 25px;
}
.box-content h2{
    font-size: 18px;
    font-weight: 400;
}
.items-menu{
    margin-top: 30px;
}
.items-menu h2{
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    background-color: #2f3d4d;
    color: white;
    padding: 8px;
}
.items-menu a{
    display: block;
    padding: 8px 8px 8px 16px;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #2f3c4d;
}
/*Box-metricas*/
.box-metricas{
    margin-top: 16px;
    padding: 0 15px;
}
.box-metrica-single{
    float: left;
    position: relative;
    width: 33.3%;
    background-color: #f4b03e;
    border: 5px solid white;
}
.box-metricas .box-metrica-single:nth-of-type(2){
    background-color: #e05c4e;
}
.box-metricas .box-metrica-single:nth-of-type(3){
    background-color: #04a65a;
}
.box-metrica-wraper{
    padding: 10px 20px;
    text-align: left;
    color: white;
}
.box-metrica-wraper h2{
    font-size: 20px;
    font-weight: 300;
}
.box-metricas-wraper p{
    font-size: 22px;
    font-weight: 700;
}
/*Tabela Usuários*/

.table-responsive{
    max-width: 1280px;
    margin: 20px auto;
}
.table-responsive .row:nth-of-type(1){
    background-color: #00bfa5;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    color: white;
}
.table-responsive .row{
    color: #777;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}
.col{
    float: left;
    width: 50%;
}
.table-responsive span{
    padding: 0 8px;
}
.box-content form{
    margin: 30px 0;
}
.box-content form label{
    font-size: 17px;
    font-weight: 300;
    color: black;
    display: block;    
}
.box-content .form-group{
    margin: 15px 0;
}
.box-content form input[type=text],
.box-content form input[type=password]
{
    margin-top: 8px;
    font-size: 16px;
    font-weight: normal;
    color: black;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
}
.box-content form select{
    margin-top: 8px;
    font-size: 16px;
    font-weight: normal;
    color: black;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
}
.box-content form input[type=file]{
    margin-top: 8px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}
.box-content form input[type=submit]{
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 17px;
    background-color: #00bfa5;
    color: white;
    border: 0;
}
/*Box de Alerta*/
.box-alert{
    width: 100%;
    padding: 8px 0;
    text-align: center;
}
.sucesso{
    background-color: #a5d6a7;
    color: white;
}
.erro{
    background-color: #f75353;
    color: white;
}
.menu-active{
    background-color: #3a4b51;
}
.menu-active::before{
    content:'>> ';
}
@media screen and (max-width:1200px) {
    .box-metrica-single{
        min-height: 100px;
    }
}
@media screen and (max-width:1024px) {
    .box-metrica-single{
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width:768px) {
    .content{
        width: 100%;
    }
    header{
        width: 100%;
    }
}
@media screen and (max-width:500px){
    .w50{
        width: 100%;
    }
    .box-metrica-single{
        width: 100%;
        padding-top: 40%;
    }
}
@media screen and (max-width:400px){
    .menu-wraper{
        width: 200px;
    }
}